.productDetails__details {
    background-color: #EAE2B7;
    color: #281B01
}

.productDetails__details__ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 20px 0;
    border-top: 1px solid #CBBD52;
    border-bottom: 1px solid #CBBD52;
}

.productDetails__details__addRemove {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.productDetails__details__addRemove__number {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: white;
}

.productDetails__details__addToCart {
    display: block;
    background-color: #ECE6C0;
    border: 1px solid #CBBD52;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 0;
    width: fit-content;
}

.productDetails__images {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.productDetails__images__image {
    width: 100%;
    min-width: 500px;
    max-width: 500px;
    object-fit: contain;
}

@media screen and (max-width: 400px) {
    .productDetails__images__image {
        width: 100%;
        min-width: 250px;
        max-width: 250px;
        object-fit: contain;
    }
}

.productDetails__details__description {
    padding: 25px 0;
    margin-top: 25px;
    border-top: 1px solid #CBBD52;
    border-bottom: 1px solid #CBBD52;
}

.productDetails__details__seller {
    padding: 25px 0;
    border-bottom: 1px solid #CBBD52;
}

.productDetails__details__submitReview {
    padding-top: 25px;
}

.productDetails__details__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.productDetails__details__link:active {
    text-decoration: underline;
    cursor: pointer;
    filter: opacity(10%);
}